        <div>
            <a href="/users">HOME</a>
            <a href="/users/add-user">Add User</a>
            <a href="/users/view-all">View All Users</a>
            <a href="#">Contact Us</a>
        </div>