{{! Activity 3 }}
<html>
    <head></head>

    <body>
        <h1>Activity 3</h1>
        
        <form method="POST" action="/add-customer">
            <input type="text" placeholder="Name" name="name">
            <input type="text" placeholder="Age" name="age">
            <button>Add</button>
        </form>
        
    </body>
</html>