{{! Activity 3 }}
<html>
    <head></head>

    <body>
        <h1>Activity 3</h1>

        
         <h3>The customer {{name}} with age {{age}} has been saved successfully</h3>
        

    </body>
</html>