<html>
<head></head>

<body>
    <h1>List of Tasks</h1>

    {{allTasks}}

    <form method="POST" action="/delete-trip">Denver - 10-20-2020 [Delete Button]<input type="hidden" value="4747-28282-474747-575757" name="tripId" /></form><form>Seattle - 10-20-2020 [Delete Button]</form>

</body>
</html>