<!doctype html> 
<html> 
    <head> 
      <title>Assignment-Trips</title>
      <link rel="stylesheet" href="/css/style.css">
    </head> 

    <body> 

    <div id="signInCont">
        <form method="POST" action="/signIn">
            <input type='text' name='username' id='usernameInput' placeholder="Username">
            <input type="text" name='password' id="passwordInput" placeholder="Password">
            <button id="logInBtn">Log In</button>
        </form>
        <a href="/register"><button>Create New User</button></a>
    </div>
        

        

        <script src="/client.js"></script>
    </body>
</html>