<!doctype html> 
<html> 
    <head> 
      <title>Assignment-Trips</title>
      <link rel="stylesheet" href="/css/style.css">
    </head> 

    <body> 

        <h1>Register / Log-In</h1>

        <a href="/register"><button>Register</button></a>
        <a href="/login"><button>Log In</button></a>

    
    </body>
</html>