<!doctype html> 
<html> 
    <head> 
      <title>Assignment-Trips: Register</title>
      <link rel="stylesheet" href="/css/style.css">
    </head> 

    <body> 

        <h1>Register</h1>
            <form method="POST" action="/registerUser">
                <input type='text' name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <button>Register</button>
            </form>

    </body>
</html>