<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>

        {{> menu}}

        <h1>HELLO MUSTACHE</h1>

        <h2>
            Name is {{name}} and lives on {{address.street}}, in {{address.city}} {{address.state}}
            Age is {{age}}
        </h2>

    </body>
</html>