<html>

    <body>

    {{> menu}}

    <h1>USERS</h1>

    <ul>
    {{#users}}
        <li>
        {{name}} - {{age}}
        </li>
    {{/users}}

    {{^users}}
        <h2>NO USERS EXIST!</h2>
    {{/users}}
    </ul>
    </body>

</html>